# Merging & exporting data

# This Script incluides the following points:

STEP 3 : Import the data

STEP 4: Check Data Output

STEP 5: Combine data

STEP 6: Confirm the results of the merge using the merge flag

STEP 7: Export the newly created dataframe as ords_prods_merge

In [1]:
#Import libraries

import pandas as pd
import numpy as np
import os

# STEP 3 IMPORT THE DATA

In [2]:
#create a shortcut to access the Instacart Basket data as path
path= r'C:\\Users\\carol\\Documents\\20.06 Instacart Basket Analysis'

In [3]:
# import products_checked.csv

df_prods=pd.read_csv(os.path.join(path,'02 Data','Prepared Data','Products_ checked.csv'),index_col=False)

In [4]:
# import orders_products_combined.pkl

df_ords_combined=pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_combined2.pkl'))

# STEP 4 CHECK DATA OUTPUT

In [5]:
#check output for df_prods

df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [6]:
df_prods.shape

(49672, 6)

In [7]:
#Check Output for df_ords_combined

df_ords_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [8]:
df_ords_combined.shape

(32434489, 11)

# STEP 5 Combine data

In [9]:
#Merge df_prods and df_ords_combined

df_merged=df_prods.merge(df_ords_combined,on='product_id')

In [10]:
#check output on df_merged

df_merged.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both

In [11]:
df_merged.shape

(32404859, 16)

In [12]:
df_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

# STEP 7 EXPORT ORDERS_PRODUCTS_MERGE INTO PKL

In [13]:
df_merged.to_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_merge.pkl'))